<section class="p-6">
  <div class="flex justify-between items-center mb-8">
    <h1 class="text-3xl font-bold text-base-content">My Teams</h1>
    <%= link_to "Create New Team", new_team_path, class: "btn btn-primary" %>
  </div>


  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <% @teams.each do |team| %>
      <div class="card bg-base-100 shadow-xl border border-base-200 <%= team_theme(team == current_team, :bg, :border, :text) %>">
        <div class="card-body">
          <div class="flex justify-between items-start space-x-2">
            <h2 class="card-title"><%= team.name %></h2>
            <% if team == current_team %>
              <p class="badge badge-success">
                Active
              </p>
            <% end %>
          </div>

          <div class="py-4">
            <div class="flex items-center gap-2 text-sm text-base-content/70">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"/>
              </svg>
              <%= team.memberships.count %> Members
            </div>
          </div>

          <div class="card-actions justify-end mt-4">
            <%= link_to "Manage Team", team_path(team), class: "btn btn-sm btn-outline btn-block" %>
            <% if team != current_team %>
              <%= button_to "Switch to Team", teams_switches_path(team_id: team.id), method: :post, class: "btn btn-sm btn-ghost btn-block text-xs" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
