<nav>
  <% if user_signed_in? %>
    <div class="navbar bg-base-100 shadow-sm">
      <div class="flex-1">
        <li><%= link_to "PulseTrack", home_path, class: "btn btn-ghost text-xl" %></li>
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
          <% if user_signed_in? %>
            <li><%= link_to "My Sites", monitored_sites_path %></li>

            <li><%= link_to "Account", edit_user_registration_path %></li>
            <li>
              <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-ghost" %>
            </li>
          <% else %>
            <li><%= link_to "Log In", new_user_session_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>

  <% end %>
</nav>
